/* font-family: "MontserratRegular; */
@font-face {
    font-family: "MontserratRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/Montserrat-Regular.otf") format("opentype"),
         url("../fonts/Montserrat-Regular.woff") format("woff"), 
         url("../fonts/Montserrat-Regular.ttf") format("truetype"), 
         url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); 
}

/* font-family: "MontserratLight; */
@font-face {
    font-family: "MontserratLight";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Light.otf") format("opentype");
}