{% extends "layout.html" %}

{% block body %}
<div id="body-div" class="img-align-center">
<!-- FOR LG, MD -->
    <div id="header"></div>
    <div id="body" class="container content-about">
        <div class="hidden-sm hidden-xs div-to-center">
            <img src="static/images/about-mobile.png" class="about-mobile">
            <p class="montserrat-light deeply">WE</p>
            <p class="montserrat-light deeply">CARE</p>
            <p class="montserrat-light deeply">VERY</p>
            <p class="montserrat-light deeply">DEEPLY</p>
        </div>
        <div class="hidden-sm hidden-xs div-to-center about-logo">
            <span>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}" class="img-logo-about"></a>
                <p class="montserrat about">
                    <a href="{{url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
<!-- FOR SM -->
        <div class="hidden-lg hidden-md hidden-xs div-to-center">
            <img src="static/images/about-mobile.png" class="about-mobile">
            <p class="montserrat-light deeply">WE</p>
            <p class="montserrat-light deeply">CARE</p>
            <p class="montserrat-light deeply">VERY</p>
            <p class="montserrat-light deeply">DEEPLY</p>
        </div>
        <div class="hidden-lg hidden-md hidden-xs div-to-center about-logo">
            <span>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}" class="img-logo-about"></a>
                <p class="montserrat about">
                    <a href="{{url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
<!-- FOR XS -->
        <div id="glasses-div" class="hidden-lg hidden-md hidden-sm div-to-center">
            <img id="img-xs" src="static/images/about-mobile.png" class="about-mobile">
            <p id="we" class="montserrat-light deeply">WE</p>
            <p id="care" class="montserrat-light deeply">CARE</p>
            <p id="very" class="montserrat-light deeply">VERY</p>
            <p id="deeply" class="montserrat-light deeply">DEEPLY</p>
        </div>
        <div class="hidden-lg hidden-md hidden-sm div-to-center about-logo-xs">
            <span>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}" class="img-logo-about"></a>
                <p class="montserrat about">
                    <a href="{{url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
    </div>
    {% include "footer.html" %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/script_about.js') }}"></script>
{% endblock %}