<!-- <div id="footer" class="container row foot">
    <div class="icons col-md-3 col-sm-4 col-sm-push-8">
        <span class="icons-span">
            <a href="https://www.facebook.com/synaptec.au" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/synaptec" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://instagram.com/synaptec" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
            <a href="https://www.youtube.com/channel/UCGZNLr82EJmQJoFLY_ZafBg" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a>
            <a href="https://github.com/synaptec" target="_blank"><i class="fa fa-github fa-lg"></i></a>
        </span>
    </div>
    <div class="col-md-6 col-sm-4 hidden-xs"></div>
    <div class="year montserrat col-md-3 col-sm-4 col-sm-pull-8">&copy; 2017 Synaptec</div>
</div> -->

<div id="footer" class="container row foot">
    <div id="foot1" class="icons col-md-3 col-xs-4 col-xs-push-8">
        <span class="icons-span">
            <a href="https://www.facebook.com/synaptec.au" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/synaptec" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://instagram.com/synaptec" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
            <a href="https://www.youtube.com/channel/UCGZNLr82EJmQJoFLY_ZafBg" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a>
            <a href="https://github.com/synaptec" target="_blank"><i class="fa fa-github fa-lg"></i></a>
        </span>
    </div>
    <div id="foot2" class="col-md-6 col-xs-4"></div>
    <div id="foot3" class="year montserrat col-md-3 col-xs-4 col-xs-pull-8">&copy; 2017 Synaptec</div>
</div>